body {
    font-family: 'Arial', sans-serif;
    color: #2c3e50; 
    background-color: #ecf0f1; 
}

h1 {
    color: #3498db; 
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #2ecc71; 
    color: #ffffff; 
    cursor: pointer;
    border: none;
}

#weatherData {
    margin-top: 20px;
    padding: 15px;
    background-color: #f39c12; 
    color: #ffffff; 
    border-radius: 5px;
}

#error {
    color: #e74c3c; 
}




#map {
    height: 300px;
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
}
